@import '../../variables.scss';

.search-bar {
    margin-left: auto;
    &__label {
        font-size: $searchBar-fontSize;
    }
    &__input {
        height: $search__input-height;
    }
    &__button {
        
    }
}