@import '../../variables.scss';

.description {
    background-color: #fff;
    height: 100vh;
    margin-top: $description-marginTop;
    border: 1px solid black;
    &__buttons {
        display: flex;
    }
    &__content {
        background-color: #fff;
    }
}
