* {
    margin: 0;
    padding: 0;
}
.main_A1_Class {
    position: absolute;
    box-sizing: border-box;
    border: 1px solid #A1A1A1;
    background: #E5E5E5;
    width: 375px;
    height: 667px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    opacity: 1;
    --web-artboard-name: "main";
}
.navigation_group_Class {
    opacity: 1;
    position: absolute;
    width: 375px;
    height: 50px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.navigation_Class {
    opacity: 1;
    fill: rgba(63,63,63,1);
}
.navigation {
    position: absolute;
    overflow: visible;
    width: 375px;
    height: 50px;
    left: 0px;
    top: 0px;
}
.navigation__searchBar_searchBa_Class {
    opacity: 1;
    position: absolute;
    width: 306px;
    height: 30px;
    left: 61px;
    top: 11px;
    overflow: visible;
}
.searchBar__input_Class {
    opacity: 1;
    fill: rgba(255,255,255,1);
}
.searchBar__input {
    position: absolute;
    overflow: visible;
    width: 247px;
    height: 30px;
    left: 59px;
    top: 0px;
}
.searchBar__label_Class {
    opacity: 1;
    position: absolute;
    left: 0px;
    top: 3px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 51px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(255,255,255,1);
}
.navigation__button_Class {
    opacity: 1;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.button_Class {
    opacity: 1;
    fill: rgba(33,160,199,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.button {
    position: absolute;
    overflow: visible;
    width: 50px;
    height: 50px;
    left: 0px;
    top: 0px;
}
.hamburgerIcon_Class {
    opacity: 1;
    position: absolute;
    width: 32px;
    height: 16px;
    left: 9.5px;
    top: 17.5px;
    overflow: visible;
}
.hamburgerIcon__line__third_Class {
    opacity: 1;
    fill: transparent;
    stroke: rgb(255, 255, 255);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.hamburgerIcon__line__third {
    overflow: visible;
    position: absolute;
    top: 8px;
    left: 0px;
    width: 32px;
    height: 2px;
}
.hamburgerIcon__line__second_Class {
    opacity: 1;
    fill: transparent;
    stroke: rgb(255, 255, 255);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.hamburgerIcon__line__second {
    overflow: visible;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 32px;
    height: 2px;
}
.hamburgerIcon__line__first_Class {
    opacity: 1;
    fill: transparent;
    stroke: rgb(255, 255, 255);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.hamburgerIcon__line__first {
    overflow: visible;
    position: absolute;
    top: 16px;
    left: 0px;
    width: 32px;
    height: 2px;
}