$body-background: #2E3138;
$hamburgerIcon-background: #21A0C7;
$searchBar-background: #3F3F3F;
$info__info-background: #707889;
$info__title-background: #3F3F3F;
$info__imdb-background: #FCEB59;
$info__imdb-fontColor: #707070;
$info__filmweb-background: #FCEB59;
$info__filmweb-fontColor: #707070;
$photo__circle-background: #9C9FA3;
$description__button-background: #636363;
$description__button--active-background: #3F3F3F;

$fontFamily: "Segoe UI";
$searchBar-fontSize: 17px;
$info__title-fontSize: 14px;
$info__imdb-fontSize: 12px;
$info__filmweb-fontSize: 12px;
$description__button--active-fontSize: 18px;
$description__button-fontSize: 14px;

$info-marginTop: 17px;
$description-marginTop: 17px;

$info-height: 200px;
$info-width: 165px;
$info__title-height: 35px;
$info__imdb-height: 30px;
$info__filmweb-height: 30px;

$header-height: 50px;
$search__input-height: 30px;

$wrapper-marginX: 6px;
$info__photo-rightMargin: 8px;
$description__button-height: 32px;
$description__button--active-width: 150px;

